<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <script src="/public/js/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="/public/component/bootstrap/bootstrap.css">
    <title>Default</title>
</head>

<body>
    Default
</body>

</html>